@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

*,
*::before, *::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	min-height: 100vh;
}
.wrapper {
	min-height: 100vh;
	display: flex;
	perspective-origin: bottom right;
	perspective: 400px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #e8eaf6;
}
.iphone-container {
	position: relative;
	width: 230px;
	height: 410px;
	background: #fff url("./assets/iPhone.png") no-repeat center;
	background-size: 80%;
	transform: rotate(-40deg) skew(20deg, -10deg);
	transition: .5s ease-in-out;
	box-shadow: -55px 55px 5px rgba(0, 0, 0, .1);
	perspective-origin: bottom right;
}
.iphone-container:hover {
	transform:
			rotate(-40deg) skew(20deg, -10deg) translate(30px, -30px) perspective(400px);
	box-shadow: -65px 65px 10px rgba(0, 0, 0, .1);
}

.iphone-container::before {
	content: '';
	position: absolute;
	top: 0;
	left: -40px;
	transform-origin: right;
	transform: skewY(-43deg);
	background: #fff url("./assets/text.png") no-repeat center;
	background-size: 80%;
	width: 40px;
	height: 100%;
}
.iphone-container::after {
	content: '';
	position: absolute;
	bottom: -38px;
	left: 0;
	width: 100%;
	height: 38px;
	background: #fff url("./assets/logo.png") no-repeat center;
	background-size: auto 80%;
	transform-origin: top;
	transform: skewX(-47deg);
}



.iphone-naming {
	max-width: 25rem;
	font-size: 3.5rem;
	font-weight: 700;
	font-family: 'Roboto', sans-serif;
	-webkit-text-fill-color: transparent;
	line-height: 1.05;
	text-transform: uppercase;
	background: linear-gradient(90deg, rgb(220, 54, 250) -18.92%, rgb(161, 103, 239) 27.38%, rgb(96, 159, 228) 46.73%, rgb(58, 191, 222) 73.04%, rgb(4, 209, 142) 93.04%);
	background-clip: text;
}

