@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
*,
*::before, *::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html, body {
	min-height: 100vh;
	font-family: 'Poppins', sans-serif;
}

body {
	display: grid;
	place-items: center;
	background: linear-gradient(135deg, #03a9f4, #03a9f4 50%, #333 50%, #333);
}
.box {
	position: relative;
}
.box h2 {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2rem;
	font-size: 15em;
	color: rgba(255, 255, 255, .9);
	text-shadow: -5px 10px 20px rgba(255, 255, 255, .6),
				 -10px 15px 5px rgba(255, 255, 255, .4),
	             -15px 20px 0 rgba(255, 255, 255, .2);
}
.zero {
	position: relative;
	width: 180px;
	height: 180px;
	border-radius: 50%;
	background-color: rgba(255, 255, 255, .8);
	border: solid 2px rgba(255, 255, 255, .7);
}
.zero::before {
	content: '';
	position: absolute;
	width: 160px;
	height: 160px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 50%;
	box-shadow: inset -10px -10px 10px rgba(0, 0, 0, .2),
				5px -5px 5px rgba(255, 255, 255, .8),
				5px 5px 10px rgba(255, 255, 255, .4);
	background-color: rgba(255, 255, 255, .6);
}
.zero::after {
	content: '';
	position: absolute;
	width: 120px;
	height: 120px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 50%;
	box-shadow: inset 10px 10px 10px rgba(0, 0, 0, .2),
				-10px 10px 10px rgba(255, 255, 255, .4),
				10px 5px 10px rgba(255, 255, 255, .4);


	background-color: rgba(255, 255, 255, .6);
	border: solid 5px rgba(255, 0, 0, .3);
	/*background-color: rgba(255, 0, 0, .5);*/

}
